

<li class="list-group-element">
    <input class="task-input" type="checkbox" >
    <p class="task-name">Dackel füttern</p>
    <p class="task-status">complete</p>
</li>
<li class="list-group-element">
    <input class="task-input" type="checkbox" >
    <p class="task-name">Dackel füttern</p>
    <p class="task-status">incomplete</p>
</li>
<li class="list-group-element">
    <input class="task-input" type="checkbox" >
    <p class="task-name">Dackel füttern</p>
    <p class="task-status">incomplete</p>
</li>
